body{
    margin:0;
    padding: 0;
    background-color: #aaa;
    font font-family: Tahoma;
    
}

#wrap {
    width:80%;
    margin: 0 auto;
    background-color: #aaa;
}

#wrap {
    width: 80%;
    margin: 0 auto;
}

header, nav, section, footer {
    padding: 0%;
    margin: 2%;
    background-color: #fff;
}

table{
    width:75%
    }
td{padding:10px;}

thead {
    background-color: rebeccapurple;
    color:white;
    font size: larger;
    font-family: Verdana, sans-serif;
}

tbody td{
    border-bottom: 1px solid #ccc
}

tbody tr:nth-child(even){
    background-color: #eee;}
td.num {background-color: beige;}

header, footer {
    background-color: ;
    text-align: center;
    
}
header img {
    width:100%;
}
nav{
    background-color: #0EC8C7;
    text-align: center;
    font-size: x-large;
    padding: 13px;
    
}
Nav ul {
    margin:0;
    padding:0;
    
}
nav li {
    display:inline;
}

nav a {
    color:white;
    text-decoration: none;
    padding: 15px 25px;
    
}
nav a: hover {
    background-color: #900;
}

aside {
    background-color: #EC3632;
    width:25%;
    float:left;
}

aside li {
    list-style-type: none;
    margin: 10px 0;
}

aside li a {
    color:white; 
    text-decoration: none;
}

article {
    background-color: white;
    width: 69%;
    float:right;
    padding: 2%;
    
}

section{
    overflow: auto;
    padding:0;
    background-color: #EC3632;
}

.bird {
    float:right;
    width:35%;
    margin: 0 0 2% 2%;
}
footer{
    background-color: #0EC8C7;
    padding:20px;
    font=size: smaller;
}
footer li {
    display:inline;
    margin:0 10px;
}


@media screen and (min-width:801px) and (max-width: 1000px){
    
    nav {font-size:smaller;}
    
    body {background-color:coral;}
    
    
}

@media screen and (max-width:800px)  {
    nav  {
    padding: 0%;
   
}
    #wrap {
        width:100%;
    }
    
   
    
    article,aside {
        float:none;
        width:100%
    }
    nav a, aside a {
        display: block;
        width:100%
            nav a {
    color:white;
    text-decoration: none;
                padding: 15px 25px;}
    
    }
    nav ul, nav li, aside ul, aside li {
        margin:0;
        padding: 0;
    }
    aside { 
    display:none;}
    
    .bird {
        width:96%
        float:none;
    }
}